*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background:url(images/developer.png), url(images/header_bg.png) ;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around ;
    align-items: center;
}

.logo h2{
    font-size:45px ;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;

}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration:none ;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 19px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0px auto;;
}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
;
}

#banner{
    display: flex;
    margin: 47px 38px 0 230px;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content h2{

    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;

}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;   
    margin-bottom: 30px;
}

#banner .banner-content {
    max-width: 585px;
}

#banner .banner-image{
    max-width: 585px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px
}

#about .about-container .about-info{
    display:   flex;
    justify-content: space-around;

}

.about-info .info-card p{
font-size: 20px;
color: #757575;
line-height: 30px;

}

#skills{
    padding-top: 130px;

}

#skills .skills-container{
    width: 71;
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;

}

#skills .skills-container  .skill-box{
    display: flex;
    gap: 24px;
}

.skill-box .skills-card{
    padding: 30px;
    box-shadow: 0 0px ;
    max-width: 267px;
    box-shadow: 0px 6px 50px 0px  rgba(0, 0, 0, 0.116);
}

.skills-card  img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skills-card h3{
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

.skills-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}